streamlit>=1.30.0
pandas>=2.1.0
matplotlib>=3.8.0
numpy>=1.26.0
scipy>=1.11.0              # For statistical overlays or quantile calculations
plotly>=5.18.0             # If you switch to interactive charts
openpyxl>=3.1.2            # If you load Excel files
python-dotenv>=1.0.0       # For environment configfi
yfinance
yahoo_fin
